* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

.my-home-container {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 67, 0.499);
    background: url("https://wallpaperaccess.com/full/2724260.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.my-logo-class {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.my-logo {
    width: 150px;
    margin-bottom: 30px;
}

.my-info-score {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.my-user-score>h4 {
    font-size: 20px;
    color: blue;
}

.my-computer-score>h4 {
    font-size: 20px;
    color: red;
}

.my-user {
    padding: 10px;
    width: 150px;
    border: 5px solid blue;
    color: black;
    text-align: center;
    border-radius: 10px;
    background-color: yellow;
}

.my-computer {
    padding: 10px;
    width: 150px;
    border: 5px solid red;
    color: black;
    text-align: center;
    border-radius: 10px;
    background-color: yellow;
}

.my-round {
    text-align: center;
    margin-top: 50px;
    padding: 10px;
    color: white;
    border-radius: 10px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid yellow;
    background-image: linear-gradient(to right, #0015ff, #ff0000);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.my-round-title>h3 {
    font-size: 20px;
}

.my-round-count>h4 {
    font-size: 15px;
    font-weight: bold;
    color: yellow;
}

.my-computer-name>h3,
.my-user-name>h3 {
    font-size: 20px;
}

.my-card-container {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.my-card {
    margin-top: 100px;
    padding: 10px;
    color: black;
    border-radius: 10px;
    width: 300px;
    border: 5px solid yellow;
    font-weight: bold;
}

.my-info {
    /* border: 1px solid white; */
    background-color: white;
    border-radius: 10px;
    margin: 15px;
    padding: 5px;
}

.my-info-user {
    background: linear-gradient(to left, rgb(255, 255, 255) 50%, rgb(229, 255, 0) 50%) right;
    background-size: 200%;
    transition: .1s ease-out;
    cursor: pointer;
}

.my-info-user:hover {
    /* background-color: rgba(255, 255, 0, 0.881); */
    background-position: left;
}

.my-info-user-name,
.my-info-computer-name {
    text-align: center;
}


.my-info-img {
    height: 100px;
}

span {
    float: right;
}

.my-card-user {
    background-color: rgba(0, 0, 255, 0.800);
}

.my-card-computer {
    background-color: rgba(255, 0, 0, 0.800);
}

@keyframes my-shake {

    0%,
    100% {
        transform: translateX(0);
    }

    10% {
        transform: translateX(-5px);
    }

    20% {
        transform: translateX(5px);
    }

    30% {
        transform: translateX(-5px);
    }

    40% {
        transform: translateX(5px);
    }

    50% {
        transform: translateX(0);
    }
}

.my-shake {
    animation: my-shake 0.4s ease-in-out;
}

@media screen and (max-width: 1000px) {
    .my-home-container {
        height: 100%;
    }

    .my-info-score {
        flex-direction: column;
        align-items: center;
    }

    .my-user,
    .my-computer {
        width: 100%;
        margin-bottom: 20px;
    }

    .my-card-container {
        flex-direction: column;
        align-items: center;
    }

    .my-card {
        align-items: center;
        width: 120%;
    }

    .my-logo-class {
        display: none;
    }
}